.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}
.menu{
    width: 80%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: auto;
    background: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.header-left,
.header-right{
    position: relative;
    color: white;
    float: left;
}
.header-left{
    width: 30%;
}
.header-right label{
    position: absolute;
    top: -3.7em;
    right: 0;
    cursor: pointer;
}
.header-right span{
    position: relative;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,.3);
    -webkit-transition: all .3s ease;
}
.header-right span:hover{
    background: rgba(255,255,255,.6);
}
.header-right span:before,
.header-right span:after{
    content: '';
    position: absolute;
    width: 2em;
    height: .5em;
    top: 4px;
    left: 0;
    background: black;
}
.header-right span:after{
    top: 14px;
}
.header-right{
    width: 70%;
    text-align: right;
}
#open{
    display: none;
}
header h1{
    font-weight: 300;
    line-height: 40px;
}
header a{
    text-decoration: none;
    color: white;
}
header nav>a{
    position: relative;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    padding: 0 2em;
    -webkit-transition: all .3s ease;
}
header nav>a:hover{
    background: rgba(255,255,255,.9);
    color: black;
}
.hidden-desktop{
    display: none;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .box{
        width: 49%;
        margin-bottom: 5%;
    }

    header ul li:nth-child(3) .box{
        clear: both;
    }

    header ul li:nth-child(2n) .box{
        margin-right: 0;
        clear: right;
    }
}

/* Small monitor */
@media (max-width: 979px){
    header nav>a{
        padding: 0 1.5em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .menu{
        width: 95%;
    }
    header nav>a{
        padding: 0 2em;
    }
    header h1{
        padding: .5em 0;
    }
    .header-left,
    .header-right{
        width: 100%;
        text-align: center;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    body{
        padding: 0 .5em;
    }
    .menu{
        width: 90%;
    }
    header nav{
        height: 0;
        overflow: hidden;
        -webkit-transition: all .3s ease;
    }

    header input[type="checkbox"]:checked + nav{
        height: 205px;
    }
    header nav>a{
        padding: 0 1em;
        display: block;
        border-bottom: solid 1px rgba(255,255,255,.1);
    }
    header h1{
        padding: .5em 0;
    }
    .header-left,
    .header-right{
        width: 100%;
        text-align: center;
    }
    .hidden-desktop{
        display: block;
    }
}